<div class="h-full flex flex-col justify-between bg-gray-50">
  <div class="flex-grow overflow-auto m-4">
    <div class="text-center">
      <h1>Hello! This is an example of Formly using Material.</h1>
      <p>
        Also does make use of tailwind for general styling of custom shared ui
        components.
      </p>
    </div>
    <div class="bg-white m-4 p-6 rounded shadow">
      <ngfire-forms-wrapper
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></ngfire-forms-wrapper>
      <div class="flex justify-between mb-2">
        <button
          [disabled]="!form.valid"
          (click)="submit(form.value)"
          type="button"
          class="mt-6 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
        >
          Login
        </button>
      </div>
      <pre>{{ model | json }}</pre>
    </div>
  </div>
</div>
